/*
 * SASS allows style rules to be nested inside of other rules, which causes
 * the nested rules to only apply within the outer rule's selector
 */
$myColor: #404040;

body {
	font-family: Helvetica, Arial, sans-serif;

	p {
		font-family: Times;
	}

	p#mypara {
		font-family: "Courier New";
	}
}

#mypara {
	color: $myColor;
	border: 1px solid $myColor;
	padding: 10px;

	&:hover{
		color: red;
	}
}